@font-face {
    font-family: Franchise;
    src: url("../fonts/franchise.ttf");
}

$ei-red: rgba(237, 28, 36, 1);
$ei-blue: rgba( 118, 178, 221, 1);
$ei-grey: rgba( 179, 179, 179, 1);
$ei-darkgrey: rgba( 34, 34, 34, 1);

$paragraph-font-size: 1.2rem;
$paragraph-line-height: 2rem;
$body-font-color: $ei-darkgrey;

$font-family-sans-serif: 'Roboto', Arial, sans-serif;
$paragraph-font-family: 'Roboto Slab', serif;
$body-font-family: 'Roboto', serif;
$franchise-font: "Franchise", 'Roboto', Helvetica, sans-serif;
$header-font-family: $franchise-font;

$topbar-height: rem-calc(65);

$topbar-bg-color: $ei-blue !default;
$topbar-dropdown-bg: white;