h1, h2, h3, h4 {
	text-transform: uppercase;
}

p {
	margin: 5rem;
}

header {
	min-height: 100%;
	background: url('../img/header-graphic.jpg') $ei-blue;
	//background-blend-mode: soft-light;
	background-position: 0 65%;
	background-size: cover;
	//background-attachment: fixed;

	color: white;
	
	.row .columns .top {
		margin-top: 18%;
	}

	.row .columns .middle {
		margin-top: 5%;
	}
	.row .columns .bottom {
		margin-top: 20%;
	}

	h1 {
		font-size: 4em;
		text-transform: uppercase;

	}

	h1,h2, h3, h4{
		color: white;
	}

	.title {
		margin-top: 4rem;
		text-shadow: 0 1px 0 $ei-darkgrey;
	}

	.tagline {
		margin-top: -2rem;
		line-height: 1.2em;
		font-size: 1.5em;
		font-weight: 100;
		text-transform: uppercase;
		text-shadow: 0 1px 0 $ei-darkgrey;
	}

	ul {
		list-style: none;
		margin-left: 0;
		a {
			color: white;
			transition: padding .25s;
			//border-radius: .125em;
			padding: 0 .5em 0 0;
			font-style: oblique;
			&:visited {
				color: white;
			}
			&:hover{
				color: $ei-blue;
				font-weight: 500;
				background-color: white;
				padding: .25em .5em;
				transition: padding .25s;
				//box-shadow: 0 .075em .125em #444;
			}
		}
	}

	.news {
		margin-top: 4rem;
	}

}



#header-nav{
	.top-bar {
		.name{
			max-width: 1.5 * $topbar-height;
		}
	}
	.fixed {

	}
	box-shadow: 0 -.5rem 1rem $ei-darkgrey; 
}

#content-heading{
	padding-top: 10%;
	padding-bottom: 2rem;
	margin-top: 0;
	margin-bottom: 0;
	background: url('../img/3322-graphic.jpg') $ei-blue;
	background-size: cover;
	background-position: 0 25%;
	h2 {
		font-size: 4em;
		color: white;
		text-shadow: 0 1px 0 $ei-darkgrey;
		margin-bottom: 0;
		line-height: .5em;
	}
	.description {
		margin-top: 0;
		color: white;
		text-transform: uppercase;
		font-weight: 100;
		text-shadow: 0 1px 0 $ei-darkgrey;
	}

}

#body {
	margin-top: 6em;
}

#sidebar {
	ul {
		text-align: right;
		list-style: none;
		font-style: oblique;
		color: black;
		//margin-top: 6em;
		a {
			color: black;
			font-weight: 300;
			&:visited {
				color: black;
			}
		}
		&#content-types-list {
			li a:hover, li a:active, .active {
				font-weight: 400;
				color: $ei-blue;
			}
		}
	}
}

#content {
	article {
		margin-bottom: 6em;
		
		a {
			color: $ei-blue;
			font-weight: bold;
			border-bottom: 1px dotted $ei-blue;
			padding: 0 .25em;
			&:visited {
				color: $ei-red;
				border-bottom: 1px dotted $ei-red;
			}
			&:hover, &:active, .active {
				color: white;
				background-color: $ei-blue;
			}
			&:hover:visited {
				color: white;
				background-color: $ei-red;
			}
		}
	}
}

footer {
	background: $ei-darkgrey;
	color: white;
	position: relative; 
	.row {
		padding-top: 6rem;
		padding-bottom: 1rem;
	}
	h1, h2, h3 {
		color: white;
	}
	a {
		color: white;
		transition: padding .25s;
		border-radius: .125em;
		padding: 0 .5em;
		font-style: oblique;
		&:visited {
			color: white;
		}
		&:hover{
			color: $ei-red;
			font-weight: 500;
			background-color: white;
			padding: .5em .5em;
			font-style: normal;
			transition: padding .25s;
			//box-shadow: 0 .075em .125em #444;
		}
	}
	ul {
		margin-top: 1em;
		list-style: none;
		line-height: 2.5em;
	}
	.credit-line {
		font-weight: 300;
		font-size: 140%;

	}

	.tiny-text {
		font-size: .5em;
		font-weight: 100;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}
}

a ul.event-box, ul.event-box {
	border-radius: 1px;
	display: inline-block;
	list-style: none;
	background: white;
	padding: 1em;
	margin-left: 0;
	width: 300px;
	color: $ei-darkgrey;
	transition: background-color .2s;
    
	&:hover{
		background-color: $ei-darkgrey;
		color: white;
		transition: background-color .2s;
	}
	li.date{
		float: left;
		display: block;
		font-weight: 700;
		font-size: .8em;
		line-height: 100%;
		text-transform: uppercase;
		width: 3em;
	}
	li.description {
		float: left;
		display: block;
		font-weight: 700;
		font-size: .8em;
		line-height: 100%;
		text-transform: uppercase;
	}
	li.title{
		display: block;
		float: left;
		font-size: 1em;
		font-weight: 100; 
	}
	li.full-title{
		display: block;
		float: left;
		font-size: 1em;
		font-weight: 100; 
		width: 100%;
	}
	&.blue {
		background: $ei-blue;
		color: white;
	}
	&.red {
		background: $ei-red;
		color: white;
	}
	&.grey {
		background: $ei-darkgrey;
		color: white;
	}
}